.box {
    background-color: violet;
    width: 120px;
    height: 100px;
    margin: 30px;
}

#rotate {
    transform: rotate(160deg);
}

#scale {
    transform: scale(0.5);
}

#skew {
    transform: skew(-20deg);
}

#translate {
    /* translate(X, Y) from original position */
    transform: translate(20px, 30px);
}

