.box {
    background-color: violet;
    width: 120px;
    height: 100px;
    margin: 30px;
}

#rotate {
    transform: rotate(160deg);
}

#scale {
    transform: scale(0.5);
}

#skew {
    transform: skew(-20deg);
}

#translate {
    /* translate(X, Y) from original position */
    transform: translate(20px, 30px);
}





/* STEP #1: Define the animation sequence */
@keyframes colorchangesmooth {
    0% { background-color: aqua; }
    50% { background-color: hotpink; }
    100% { background-color: aqua; }
}

/* STEP #2: Configure animation on an element */
#animated-box {
    width: 200px;
    height: 200px;
    border: 2px solid black;
    animation-name: colorchangesmooth;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}


/* Use TRANSFORMS in an animation */
@keyframes spin {
    0% { 
        transform: rotate(0deg); 
    }
    100% { 
        transform: rotate(360deg) scale(2); 
    }
}

#animated-emoji {
    animation-name: spin;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    
    font-size: 40px;
    display: inline-block;
}
